---
import NavBar from '../components/NavBar.astro';

interface Props {
  title: string;
}

import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col justify-center items-center font-figueiras tracking-wide"
  >
    <NavBar />
    <slot />
  </body>
</html>
